WebContent/wsdl/Controller.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controller" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controller" xmlns:intf="http://controller" xmlns:tns1="http://dto.model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controller" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.model"/>
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="addAreaFromFile">
    <complexType/>
   </element>
   <element name="addAreaFromFileResponse">
    <complexType/>
   </element>
   <element name="addArea">
    <complexType>
     <sequence>
      <element name="area" type="tns1:AreaDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAreaResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.model" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="AreaDTO">
    <sequence>
     <element name="division" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAreaFromFileRequest">

      <wsdl:part element="impl:addAreaFromFile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAreaRequest">

      <wsdl:part element="impl:addArea" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAreaResponse">

      <wsdl:part element="impl:addAreaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAreaFromFileResponse">

      <wsdl:part element="impl:addAreaFromFileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Controller">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAreaFromFile">

         <wsdl:input message="impl:addAreaFromFileRequest" name="addAreaFromFileRequest">

       </wsdl:input>

         <wsdl:output message="impl:addAreaFromFileResponse" name="addAreaFromFileResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addArea">

         <wsdl:input message="impl:addAreaRequest" name="addAreaRequest">

       </wsdl:input>

         <wsdl:output message="impl:addAreaResponse" name="addAreaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ControllerSoapBinding" type="impl:Controller">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAreaFromFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAreaFromFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addAreaFromFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addArea">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAreaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addAreaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ControllerService">

      <wsdl:port binding="impl:ControllerSoapBinding" name="Controller">

         <wsdlsoap:address location="http://localhost/CommercialAreaAnalysis/services/Controller"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
